body{
    margin: 0;
    padding: 0px;
}

a{
    color: skyblue;
    text-decoration: None;
}
h1{
    font-weight: normal;
    padding: 20px;
}
h2{
    font-weight : normal;
    
    padding: 40px 10px 10px 20px;

}

h5{
    font-weight: normal;
    padding: 100px 40px 10px 20px;
}
